{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<script type = "text/javascript">
    var reddit_link =  String.raw`{{reddit_url}}`;
    var cleaned_article_text = String.raw`{{cleaned_article_text}}`;
    var no_url_article_text = String.raw`{{no_url_article_text}}`;
    var no_stop_article_text = String.raw`{{no_stop_article_text}}`;
    var no_stop_or_url_article_text = String.raw`{{no_stop_or_url_article_text}}`;
</script>
{% endblock %}

{% block body %}
<h1>{{title}}</h1>
<div class="text-right" id = "main">
    <form action = '/'>
        <button type='submit'>Try another link!</button>
    </form>
    <br>
    <textarea rows = 3 cols = 125 name = 'userComment' id = 'userComment' placeholder='Enter your comment here to see what our model says!' style="resize:none;"></textarea> 
    <button type = "button" id = "userCommentButton">Submit</button>

</div>
 
<p> {{selftext}} </p>
<h2> Comments </h2>
<ul>
    {% for comment in comments %} 
    {% if comment[0] == '[Good' %}
 	<li style="color:green">
    {% elif comment[0] == '[Bad' %}
	<li style="color:darkred">
    {% endif %}
	{% for word in comment %}

	    {% if word == '<b>' %}
		<b>
	    {% elif word == '</b>' %}
		</b>
	    {% else %}
		{{word}}
	    {% endif %}
	{% endfor %}
    </li>
    <br>
    {% endfor %}
</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}

