{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<h1>{{title}}</h1>
<div class="text-right" id = "main">
    <form action = '/'>
        <button type='submit'>Try another link!</button>
    </form>
    <input type = "text" id = 'userComment' name = 'userComment' value='Enter your comment here to see what our model says!'>
    <button type = "button" id = "userCommentButton">Submit</button>
</div>
 
<p> {{selftext}} </p>
<h2> Comments </h2>
<ol>
    {% for comment in comments %}
    <li> {{ comment }} </li>
    <br>
    {% endfor %}
</ol>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}

